    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sobre</h2>
                <p>Somos uma empresa focada em soluções para a comunicação digital.</br>
                    Buscamos fornecer a melhor experiência na gestão da sua marca no ambiente on-line, trazendo resultados efetivos.</p>                
                <p>Fornecemos serviços de gestão e operação de campanhas de mídia, conteúdo e planejamento para a sua marca.
                Se o seu foco for capacitação, podemos lhe ajudar também. Montamos cursos <i>in company</i>, consultoria, workshops e palestras de acordo com a necessidade do cliente.</p>                
                <p>Conheça alguns clientes que já passaram pela Nucleo:</br>
                    Orquídea Alimentos, Vipal Borrachas, Fruki Guaraná, Panvel Farmácias, Cerveja Bellavista, Iplace, Móveis Alminhana, além de agências parceiras e profissionais liberais.</p>                
            </div>
        </div>
    </section>